
.feed-container {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  background: rgb(238, 98, 152, 0.25);
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(108, 61, 61, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(108, 61, 61, 0.35);
}

.feed-wrapper {
  padding: 0px;
  position: relative;
}

.posts-container {
  margin: auto;
  padding: 85px 10px;
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.no-posts {
  margin: auto;
  width: 35rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  color: rgba(0, 0, 139, 0.85);
  font-weight: 600;
  letter-spacing: 1px;
}

.pulse {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  right: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: rgb(0, 0, 139, 0.85);
  box-shadow: 0 0 0 rgba(0, 0, 139, 0.2);
  animation: pulse 1s infinite;
  z-index: 100;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 139, 0.2);
  }
  70% {
    -webkit-box-shadow: 0 0 0 150px rgba(0, 0, 139, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 139, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 139, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 139, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 150px rgba(0, 0, 139, 0);
    box-shadow: 0 0 0 150px rgba(0, 0, 139, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 139, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 139, 0);
  }
}

@media (max-width: 800px) {
  
  .no-posts {
    width: 80%;
  }
}
