
.sidebar-container {
  height: calc(100vh - 60px);
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(238, 98, 152, 0.25);
  z-index: 1;
}

.sidebar-wrapper {
  width: 85%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 0px 15px rgba(150, 150, 150, 0.6);
  box-shadow: 0px 0px 8px rgba(150, 150, 150, 0.6);
}
.link {
  text-decoration: none;
  color: black;
}
.sidebar-item {
  padding: 0.45rem 0.6rem;
  width: 160px;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 250ms;
}
.sidebar-item:hover {
  /* padding: 0.4rem 0.6rem; */
  transform: rotate(-2deg);
  letter-spacing: 0.5px;
}

.list-feed-wrapper {
  background: rgb(210, 210, 210, 0.6);
}
.list-chat-wrapper {
  background: rgb(208, 242, 255, 0.6);
}
.list-friends-wrapper {
  background: rgb(200, 250, 205, 0.6);
}
.list-profile-wrapper {
  background: rgb(255, 231, 217, 0.6);
}
.list-sign-out-wrapper {
  background: rgba(128, 0, 0, 0.113);
}

/* .sidebar-item .bx, */
.sidebar-item .fas {
  margin-left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  -moz-box-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 50%;
}
.feed {
  color: rgb(50, 50, 50);
  background: linear-gradient(135deg, rgba(200, 200, 200, 0) 0%, rgba(20, 20, 20, 0.24) 100%);
}
.chat {
  color: rgb(12, 83, 183);
  background: linear-gradient(135deg, rgba(12, 83, 183, 0) 0%, rgba(12, 83, 183, 0.24) 100%);
}
.friends {
  color: rgb(0, 123, 85);
  background: linear-gradient(135deg, rgba(0, 123, 85, 0) 0%, rgba(0, 123, 85, 0.24) 100%);
}
.profile {
  color: rgb(183, 33, 54);
  background: linear-gradient(135deg, rgba(183, 33, 54, 0) 0%, rgba(183, 33, 54, 0.24) 100%);
}
.sign-out {
  color: rgb(105, 70, 75);
  background: linear-gradient(135deg, rgb(105, 70, 75, 0) 0%, rgb(105, 70, 75, 0.24) 100%);
}


.sidebar-list-item-text {
  margin-left: 15px;
  width: 4.75rem;
  font-weight: 400;
  font-size: 0.9rem;
  transition-duration: 250ms;
}

.friends-list {
  margin-top: 50px;
}
.friend-item {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  border-radius: 4rem;
  -webkit-box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.6);
  box-shadow: 0px 0px 6px rgba(150, 150, 150, 0.6);
  overflow: hidden;
}
.friend-item-image {
  width: 40px;
  clip-path: circle();
  -webkit-clip-path: circle();
}
.friend-item-name {
  width: 60%;
  font-weight: 600;
  text-align: center;
}


/* @media (max-width: 1200px) {
  
  .sidebar-container {
  }
  .feed-container {
    flex: 2;
  }
  .rightbar-container {
    flex: 1.5;
  }
} */

@media (max-width: 900px) {
  
  * {
    font-size: 0.9rem;
  }
  .sidebar-container {
    display: none;
  }

  .rightbar-container {
    display: none;
  }

  .topbar-container {
    height: 60px;
  }

  .share-wrapper {
    padding: 1.5rem 1rem;
  }
}